.list-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  &>.wrapper {
    overflow-y: scroll;
    width: calc(100% + 17px);
  }
  &>.scrollBar {
    position: absolute;
    right: 5px;
    width: 2px;
    height: 100%;
    background-color: lightgray;
    &>.scrollThumb {
      position: absolute;
      top: 0px;
      height: 100%;
      width: 2px;
      background-color: gray;
    }
  }
}