#editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .select {
    display: flex;
    width: 100%;
    height: 150px;
    .key {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .name {
        font-size: 24px;
      }
    }
    .shortcut {
      width: 130%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .activeKey {
        font-size: 20px;
      }
      .setter, .buttons {
        opacity: 0;
        margin-bottom: -20px;
        transition: all .3s ease-in-out;
        transition-property: opacity, margin-bottom;
        &.show {
          margin-bottom: 0px;
          opacity: 1;
        }
      }
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .category {
      width: 40%;
    }
    .shortcut {
      width: 60%;
    }
    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .categories {
      width: 40%;
    }
    .titles {
      width: 60%;
    }
    .category, .title {
      width: calc(100% - 10px);
      padding: 0px 10px;
      &.active {
        background-color: rgb(230, 230, 230);
        border-radius: 5px;
      }
      &.splitter {
        opacity: .4;
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      .name {
        display: flex;
        flex-direction: column;
        .shortcutValue {
          opacity: .6;
          font-size: 10px;
          padding-left: 10px;
          margin-bottom: 5px;
        }
      }
    }
    
    select {
      width: 100%;
      font-family: 'Jost*';
      font-size: 16px;
      border: 0px;
      option {
        padding: 2px 10px;
        padding-bottom: 1px;
      }
      option[disabled] {
        span {
          margin-left: 10px;
        }
        opacity: .4;
      }
    }
  }
}