#editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .select {
    display: flex;
    width: 100%;
    height: 150px;
    // .key, .shortcut {
    //   width: 100%;
    // }
    .key {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .name {
        font-size: 24px;
      }
    }
    .shortcut {
      width: 130%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .activeKey {
        font-size: 20px;
      }
      .setter, .buttons {
        opacity: 0;
        margin-bottom: -20px;
        transition: all .3s ease-in-out;
        transition-property: opacity, margin-bottom;
        &.show {
          margin-bottom: 0px;
          opacity: 1;
        }
      }
    }
  }
  .config {
    display: flex;
    width: 100%;
    .shortcut {
      width: 130%;
    }
    select {
      width: 100%;
      font-family: 'Jost*';
      font-size: 16px;
      option {
        padding: 2px 10px;
        padding-bottom: 1px;
      }
    }
  }
}