@font-face {
  font-family: Jost;
  src: url('./Jost/Jost-300-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: Jost;
  src: url('./Jost/Jost-400-Book.otf');
  font-weight: 400;
}
@font-face {
  font-family: Jost;
  src: url('./Jost/Jost-500-Medium.otf');
  font-weight: 500;
}