@import './fonts.scss';

$font-family: Jost;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
button {
  font-family: $font-family;
}
textarea, select, input, button { 
  outline: none; 
}

body {
  // -webkit-app-region: drag;
  margin: 0;
  font-family: $font-family;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  height: 100vh;
}

#root {
  height: 100%;
  .App {
    height: 100%;
  }
}

@import './device.scss';
@import './midi.scss';
@import './panel.scss';
@import './editor.scss';