* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost*';
  margin: 10px;
  background-color: white;
}

@import './device.scss';
@import './midi.scss';
@import './panel.scss';
@import './editor.scss';